pandas~=1.3.3
numpy~=1.20.2
sklearn~=0.0
requests
#networkx==1.11
hyperopt~=0.2.5
#tensorflow
xgboost~=1.4.2
mlxtend~=0.18.0
faircorels==0.7
#mpi4py
fairlearn~=0.7.0
joblib~=1.0.1
#scikit-learn~=0.24.2
matplotlib~=3.4.2
six~=1.16.0
#scipy~=1.6.3
typing~=3.7.4.3
statsmodels~=0.12.2
torch~=1.9.0
seaborn~=0.11.1
pickle-mixin==1.0.2
pickleshare==0.7.5
